.ecommerce {
  padding: 120px 0 60px 0;
  margin-bottom: 100px;
  position: relative;

  &__introduction {
    margin-top: 60px;
    border-bottom: $border-divider;

    &-img {
      width: 92px;
      height: 92px;
      background-color: $white-color;
      border-radius: calc(2 * #{$default-border-radius});
      margin: 0 auto;
      margin-bottom: 28px;
    }

    h1 {
      font-size: $font-xxl;
      font-weight: $font-bold;
      @extend %gradient-text;
      margin-bottom: 28px;
    }

    p {
      font-size: $font-md;
      line-height: $font-l;
      color: $white-color;
      margin-bottom: 28px;
    }
  }
    &__modal-btn{
      padding: 18px 30px;
      margin-bottom: 60px;

    }

  &__services{
    color: $white-color;

    h4{
      font-size: calc(#{$font-lg} - 2px);
      font-weight: $font-bold;
      padding: 30px 0;
    }

    ul {
      list-style: initial;
      font-size: 18px;

      li {
        &:not(:last-child){
          margin-bottom: 10px;
        }

        &::marker {
          color: $accent-color;
          font-size: 18px;
        }
      }
    }
    &-left{
      li{
        margin: 0 30px 0 15px;

      }
    }
    &-right{
      li{
        margin-left:50px;

      }
    }
    }

  &__modal {
    display: none;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translateX(-50%);

    .modal {

      &-title {
        font-size: $font-xxl;
        font-weight: $font-bold;
        @extend %gradient-text-dark;
      }
      &-body{
        input,
        textarea{
          width: 100%;
          margin-bottom: 15px;
          padding: 15px;
          border: none;
          border-radius: $default-border-radius;
          font-size: $font-sm;
          color: #B3B3BA;
        }
        .email{
          margin-bottom: 0;
        }

        textarea{
          min-height: 130px;
          color: #B3B3BA;
          resize: none;
          font-size: $font-sm;
        }

        legend{
          color: #B3B3BA;
          font-size: $font-xs;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
      &-footer{
        padding: 0 30px 30px;
      }
    }
      &-btn{
        font-weight: $font-bold;
        color: $white-color;
        background-color: $mobile-menu-item-color;
        box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);

        &-form{
          width: 100%;
          padding: 18px 0;
          font-weight: $font-bold;
          color: $white-color;
          background-color: $mobile-menu-item-color;
        }

      }
  }

}